{
  "pipe" : "/tmp",
  "noBackground" : 0,
  "logging" : {

  },
  "security" : [
    {
      "keepNetAdmin" : 1,
      "setuser" : "nobody"
    },
    {
      "chroot" : "/var/run/"
    },
    {
      "nofiles" : 0
    },
    {
      "noforks" : 1
    },
    {
      "seccomp" : 1
    },
    {
      "setupComplete" : 1
    }
  ],
  "router" : {
    "ipTunnel" : {
      "outgoingConnections" : [

      ],
      "allowedConnections" : [

      ]
    },
    "interface" : {
      "type" : "TUNInterface"
    }
  },
  "interfaces" : {
    "UDPInterface" : [
      {
        "connectTo" : {

        },
        "bind" : "0.0.0.0:22378"
      },
      {
        "connectTo" : {

        },
        "bind" : "[::]:22378"
      }
    ]
  },
  "admin" : {
    "password" : {{admin_password}},
    "bind" : {{admin_bind}}
  },
  "authorizedPasswords" : [
    {
      "user" : "default-login",
      "password" : "4y7wkug024z30k7vtqzusj5dn6m16jd"
    }
  ],
  "ipv6" : "{{_ipv6}}",
  "publicKey" : "{{_publicKey}}",
  "privateKey" : "{{_privateKey}}"
}
