{
  "pipe" : "/tmp",
  "noBackground" : 0,
  "logging" : {

  },
  "security" : [
    {
      "keepNetAdmin" : 1,
      "setuser" : "nobody"
    },
    {
      "chroot" : "/var/run/"
    },
    {
      "nofiles" : 0
    },
    {
      "noforks" : 1
    },
    {
      "seccomp" : 1
    },
    {
      "setupComplete" : 1
    }
  ],
  "router" : {
    "ipTunnel" : {
      "outgoingConnections" : [

      ],
      "allowedConnections" : [

      ]
    },
    "interface" : {
      "type" : "TUNInterface"
    }
  },
  "interfaces" : {
    "UDPInterface" : {{interfaces}}
  },
  "admin" : {
    "password" : "NONE",
    "bind" : "127.0.0.1:11234"
  },
  "authorizedPasswords" : {{authorizedPasswords}},
  "ipv6" : "{{ipv6}}",
  "publicKey" : "{{publicKey}}",
  "privateKey" : "{{privateKey}}"
}
